html {
  color: #000000 !important;
  font-family: "Lato", Arial, Helvetica, sans-serif !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  letter-spacing: 0.12em !important;
  line-height: 1.5em !important;
  word-spacing: 0.16em !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", Arial, Helvetica, sans-serif !important;
  font-weight: 600 !important;
}

h4 {
  display: inline !important;
  font-size: 1rem !important;
  text-transform: uppercase !important;
}

/* Text Block */

.mcnTextBlock p {
  margin-bottom: 1rem !important;
}


/* Image Card Block */
.mcnImageCardBlock .mcnTextContent {
  background-color: #000000 !important;
}

.mcnImageCardBlock .mcnTextContent p {
  color: #ffffff !important;
  font-size: 0.8rem !important;
  font-weight: 300 !important;
}